.sdfv {

    body.sdfv {
        display: flex;
        flex-direction: column;
        height: 99%;

        #timeline-contents {
            flex-grow: 1;
        }
    }

    //#timeline-canvas {
    //    width: 100%;
    //    height: 100%;
    //}

}
