.sdfv {

    .access-statistics {
        display: flex;
        flex-direction: column;

        .stats-node {
            padding: .2rem;
            border-bottom: solid 1px black;
        }

        .stats-node-children {
            .stats-node {
                border-bottom: none;
                border-right: solid 1px black;
            }
        }

        .stats-row {
            display: flex;
            flex-direction: row;
        }
    }

}
