.sdfv {

    body.sdfv {
        display: flex;
        flex-direction: column;
        height: 99%;

        #cf-view-contents {
            flex-grow: 1;
        }
    }

    .cf-view-tooltip-container {
        position: absolute;
        color: white;
        background: #333;
        font-weight: bold;
        padding: 0.2rem 0.4rem;
        font-size: 0.9rem;
        border-radius: 0.2rem;
        user-select: none;
    }

}
