html {
  height: 100%;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

#contents {
  position: relative;
  resize: both;
  width: 1024px;
  height: 768px;
  border: 1px solid;
  overflow: auto;
}

@keyframes animateright{
  from{
    right: -300px;
    opacity:0;
  }

  to{
    right:0;
    opacity:1;
  }
}

#sidebar {
  height: 100%;
  width: 400px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  animation: animateright 0.4s;
}

#sidebar button {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

#sidebar button:hover {
  background-color: #ccc;
}

#sidebar .sidebar-inner {
  display: block;
  margin-left: 15px;
}

.dragbar {
  padding: 3px;
  height: 100%;
  width: 2px;
  display: flex;
  position: fixed;
  cursor: col-resize;
  background-color: silver;
}

.button {
  padding: .3rem .4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
  color: black;
}

.button:hover {
  background-color: #ccc;
}

.button > span {
  margin: 0;
}

button {
  border: 0;
  margin: 2px;
  background: none;
  box-shadow: none;
}

pre.code {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  white-space: pre-wrap;
}

pre.code code {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding: .3rem;
  display: block;
  color: #966;
  border-radius: 3px;
  background-color: #eee;
}

.sdfvtooltip {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1rem;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: .2rem .4rem;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  display: none;
}

#contextmenu {
  position: absolute;
  background-color: #fdfdfd;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999;
}

.context_menu_option {
  font-size: 1rem;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: .5rem 2rem .5rem .4rem;
  cursor: pointer;
}

.context_menu_option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Checkmarks for context menu items */
.checkmark {
  position: absolute;
  right: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkmark_checked {
  position: absolute;
  right: 5px;
  height: 20px;
  width: 20px;
  background-color: #2196F3;
}

.context_menu_option:hover .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.context_menu_option .checkmark_checked:after {
  content: "";
  position: absolute;
  display: block;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}