// Copyright 2019-2024 ETH Zurich and the DaCe authors. All rights reserved.

$sdfv-diff-added: rgba(93, 186, 76, 0.5);
$sdfv-diff-removed: rgba(255, 109, 69, 0.5);
$sdfv-diff-changed: rgba(255, 204, 84, 0.5);
