// Copyright 2019-2025 ETH Zurich and the DaCe authors. All rights reserved.

// Diff view.
$sdfv-diff-added-color: rgba(93, 186, 76, 0.5);
$sdfv-diff-removed-color: rgba(255, 109, 69, 0.5);
$sdfv-diff-changed-color: rgba(255, 204, 84, 0.5);

// Default text color.
$default-text-color: #000000;

// Dataflow graph.
$node-background-color: #ffffff;

$error-node-background-color: #ff1010;
$error-node-foreground-color: #ffffff;

// Control flow graph.
$state-background-color: #deebf7;
$break-color: #ffc79a;
$continue-color: #94ffa2;
$return-color: #ff7d7d;
$conditional-color: #bec080;
$control-flow-region-color: #ffffff;
$loop-color: #fafafa;
$interstate-edge-color: #86add9;
